body { background: #99d559; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 25px; display: flex; }
.block-product-0 { color: #26027e; font-size: 15px; margin-bottom: 5px; }
.block-helper-1 { color: #c837df; font-size: 18px; margin-bottom: 5px; }
.block-session-2 { color: #793c37; font-size: 12px; margin-bottom: 5px; }
.block-cache-3 { color: #42613d; font-size: 12px; margin-bottom: 5px; }
.block-user-4 { color: #9e912a; font-size: 20px; margin-bottom: 5px; }